.currencies {
  padding: 20px;
  padding-right: 40px;
  margin-top: 16px;
  background-color: #ebf6fb;
}

.currencies__item {
  position: relative;
}

.currencies__item:not(:last-child) {
  margin-bottom: 12px;
}

.currencies__item:last-child {
  margin-bottom: 20px;
}

.currencies__item-top {
  display: flex;
  gap: 12px;
  align-items: center;
}

.currencies__item-top span {
  color: #14509c;
  font-weight: 700;
  font-size: 18px;
}

.currencies__name {
  margin-top: 6px;
  text-align: right;
  color: #999;
  font-size: 14px;
}
.currencies__button {
  position: absolute;
  right: -25px;
  top: 12%;
  width: 24px;
  height: 24px;
}
.currencies__button::after,
.currencies__button::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 1px;
  background-color: #999;
}
.currencies__button::after {
  transform: rotate(-45deg);
}
.currencies__button::before {
  transform: rotate(45deg);
}