html,
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  min-width: 320px;
  font-family: sans-serif;
  background-color: #ebebeb;
}

button {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-family: inherit;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p,
pre {
  margin: 0;
}

#root {
  min-height: 100%;
  padding: 30px;
}

input {
  font-family: inherit;
  border: none;
  background-color: transparent;
}

.container {
  max-width: 600px;
  padding: 30px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.input {
  background-color: #fff;
  outline: none;
  font-size: 16px;
  height: 40px;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #b4c6d2;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
}
.input:hover {
  border-color: #a3b8c2;
  box-shadow: inset 0 1px 3px rgb(77 131 158 / 50%);
}
.input:focus {
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  border-color: #66afe9;
}

.title {
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 15px;
  color: #14509c;
}